html
  head
    title= "Phork " + phork_id
    script(src="http://code.jquery.com/jquery-1.10.0.min.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/react-0.8.0.js")
    script(src="/javascripts/html_to_rnode_parser.js")
    script(src="/javascripts/observe_dom.js")
    script(src="/javascripts/text.js")
    script(src="/javascripts/json0.js")
    script(src="/ace/ace.js")
    script(src="/javascripts/share.js")
    script(src="/javascripts/share-ace.js")
    script(src="/javascripts/bcsocket.js")
    script(type="text/javascript" src="/javascripts/html_renderer.js")
    script(type="text/javascript" src="/javascripts/css_renderer.js")
    link(rel="stylesheet" href="/stylesheets/phork.css")

  body("data-phork-id"=phork_id)
    #doc-container
      .phork-styles
      .phork-html

    #phork-ui
      .code
        .tabs

    script(src="/javascripts/init.js", type="text/javascript")
