body {
  margin: 0;
  padding: 0;
}

#phork-ui {
  width: 100%;
  height: 400px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 360px;
  z-index: 1000;
  background-color: white;
}

#doc-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

#doc-container .rendered-source-html {
  padding: 0;
  margin: 0;
  width: 100%;
}

#doc-container .rendered-source-html>div {
  padding: 0;
  margin: 0;
  width: 100%;
}

.code-editor {
  position: relative;
  width: 100%;
  height: 120px;
}

.phork-guard {
  width: 1px;
  height: 1px;
  display: none;
}

.phork-styframe {
  width: 1px;
  height: 1px;
  display: none;
}

.phork-html-body {
  margin: 8px;
}

.phork-nbsp:before {
  content: " "
}
